CIKM2013wordseer.synctex.gz
CIKM2013wordseer.aux
CIKM2013wordseer.log
CIKM2013wordseer-alternate.pdf
CIKM2013wordseer-alternate.synctex.gz
CIKM2013wordseer-alternate.tex
CIKM2013wordseer-alternate.aux
CIKM2013wordseer-alternate.log
relatedwork.aux
discussion.aux
